mgt-login {
    --font-size: 14px;
    --font-weight: 600;
    --weight: '100%';
    --height: '100%';
    --margin: 0;
    --padding: 12px 20px;
    --button-color: white;
    --button-color--hover: var(--theme-primary-color);
    --button-background-color: transparent;
    /*--button-background-color--hover: ##e9ba0f52;*/
    /*--popup-background-color: rgba(131, 180, 228, 0.664);*/
    --popup-command-font-size: 12px;
    /*--popup-color: #201f1e;*/
}

.header {
    a {
        &:hover {
            background: rgba(255, 255, 255, 0.2)!important;
        }
    } 
}
